/* STYLE BOUTON*/

%btn {
    width:15rem;
    padding:1rem;
    cursor:pointer;
    
}

.btn--start {
    @extend %btn;
    background: $color-secondary;
    border-radius: $br-3;
    border-color: $color-secondary;
   text-align: center;
}

.btn--next {
    @extend %btn;
    border-radius: $br-25;
    background: $color-alt;
    border-color:transparent;
    width:100%;
    font-size: 1.2rem;
}



