/* STYLE BOUTON*/

%btn {
    width:15rem;
    padding:1rem;
    border-radius: $br-25;
    cursor:pointer;
    
}

.btn--start {
    @extend %btn;
    background: $color-secondary;
    border-color: $color-secondary;
    text-align: center;
}

.btn--next {
    @extend %btn;
    background: $color-alt;
    border-color:transparent;
    width:100%;
    font-size: 1.2rem;
}


.btn--manche {
    @extend %btn;
    display: block;
    margin:0 auto;
    border-color: transparent;
    background-color: $color-alt;
    width:90%;
    font-size: 1.2rem;
    color: $color-white;
    
}

.modal__btn {
    @extend %btn;
    width:90%;
    font-family: $font-secondary;
    border: none;
    background: $color-alt;
}
