%input {
    border:none;
    outline:none;
}

input {
    @extend %input;
    border:1px solid $color-primary;
}

%form {
    width:90%;
   margin: 0 auto;
}

form {
    @extend %form;
  
    & .form__group {
        padding:15px;
        display: flex;
        justify-content: center;
        gap:4rem;
        
        & div {
                & label {
                display: inline-block;
                cursor:pointer;
                font-size: 1.2rem;
                background-color: rgba(36, 148, 114, 0.644);
                padding:14px 16px;
                }
        }

        & input[type='radio'] {
            opacity: 0;
        }

        & input[type='radio']:checked + label  {
            background: $color-selected;
            border:1px solid #333;
        }
      
    
    }

}

.input--space{
    padding:15px;
    border:none;
    border-bottom: 1px solid $color-primary;
}

