.player__list {
    display: flex;
    flex-direction: column;
    flex:2;
}


.card {
    display:flex;
    justify-content: space-between;
    padding:1rem;
    margin: 15px 25px;
    color:$color-white;
}


@for $i from 1 through 4 {
    .card--#{$i} {
        background-color: rgba( calc(65/$i*3.14),30,$i*40,calc(1/$i*5));
    }
} 