@mixin flexCenter {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

@mixin fondColor($props, $value) {
    #{$props} : $value;
}

@mixin main--height($height) {
    height: #{$height}vh;
}
