//font face
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Poppins&display=swap');
$font-primary : 'Michroma', sans-serif;
$font-secondary :  'Poppins', sans-serif;

//title
h1 {
    font-family: $font-primary;
    letter-spacing: 1rem;
    word-spacing: 1rem;
    font-size: 2rem;
}


.title__h2 {
    font-family: $font-secondary;
}

.title--center {
    text-align: center;
}
//paragraph
