//COLOR
$primaryColor :  green;     
$secondaryColor : blue;
$tertiaryColor : violet;
$primaryColorLight : greenlight;
$secondaryColorLight: bluelight;
$tertairyColorLight : violetLight;


/** SIZE **/

//border
$border-size-small : 1px;


//font
$font-size: 100%;
$ratio: 1.333;
$rectification: 0.7;

/* Calculate values */
$h4: $font-size * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;


