//COLOR
$color-primary :  green;     
$color-secondary : rgba(29, 158, 233, 0.849);
$color-alt : violet;
$color-white : #f1f1f1;
$color--active : rgb(210, 231, 18);

/** SIZE **/

//border
$bs-1 : 1px;
$br-3: 3px;
$br-25 : 25px;

