@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Poppins&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100vh;
}

/** SIZE **/
h1 {
  font-family: "Michroma", sans-serif;
  letter-spacing: 1rem;
  word-spacing: 1rem;
  font-size: 2rem;
}

.title__h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.title__h3 {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}

.title--center {
  text-align: center;
}

.text--name {
  font-size: 1.4rem;
}

.text--point {
  font-size: 2rem;
}

/* STYLE BOUTON*/
.modal__btn, .btn--manche, .btn--next, .btn--start {
  width: 15rem;
  padding: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

.btn--start {
  background: rgba(29, 158, 233, 0.849);
  border-color: rgba(29, 158, 233, 0.849);
  text-align: center;
}

.btn--next {
  background: violet;
  border-color: transparent;
  width: 100%;
  font-size: 1.2rem;
}

.btn--manche {
  display: block;
  margin: 0 auto;
  border-color: transparent;
  background-color: violet;
  width: 90%;
  font-size: 1.2rem;
  color: #f1f1f1;
}

.modal__btn {
  width: 90%;
  font-family: "Poppins", sans-serif;
  border: none;
  background: violet;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  outline: none;
}

input {
  border: 1px solid green;
}

form {
  padding: 45px;
}

form .form__group {
  padding: 15px;
}
form .form__group label {
  display: inline-block;
  width: 225px;
  font-size: 1.2rem;
}
form .form__group input[type=number] {
  border: 1px solid;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}

.input--space {
  padding: 15px;
  border: none;
  border-bottom: 1px solid green;
}

.player__list {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  margin: 15px 25px;
  color: #f1f1f1;
}

.card--1 {
  background-color: rgb(155, 10, 20);
}

.card--2 {
  background-color: rgb(78, 10, 40);
}

.card--3 {
  background-color: rgb(52, 10, 60);
}

.modal__container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 50%;
  height: 30%;
  padding: 30px;
  background: #09dbdb;
  border-radius: 15px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__input {
  padding: 15px;
  font-size: 1.4rem;
  width: 100px;
  border: none;
  border-bottom: 1px solid violet;
}

/* HEADER COMMUIN*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  background: green;
}

/* FOOTER COMMUN*/
.main {
  height: 60vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
}

.d-flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active {
  border: 3px solid rgb(210, 231, 18);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
